body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blueviolet;
}
.container {
    text-align: center;
    background-color: rgb(176, 168, 184);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);
}
button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(169, 113, 221);
    color: whitesmoke;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color:rgb(47, 6, 85);
}
p#result {
    margin-top: 20px;
    font-size: 1.2em;
}
